html {
    background-color: white;
}

.poster {
    background-color: black;
    padding: 30px;
    width: 870px;
    margin: 100px auto; 
    text-align: center; 
}

.motivation {
    width: 860px;
    border: 5px solid yellow;
    display: block; 
    margin: 0 auto; 
}

.title {
    font-family: 'Libre Baskerville', serif;
    color: yellow;
    margin: 20px 0px;
    text-transform: uppercase;
}

.text {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0px;
}
